body {
  background-color: white;
}

.title {
    color: black;
    text-align: center;
}

.randomiseOutput {
  color: black;
  margin-left: 20px;
}

.buttonsForRandomise {
    padding: 10px;
}

.btn-randomise {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}